body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: 700;
}

.width {
    width: 100%;
}

.container img {
    opacity: 0.8;

}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight: 700;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.text-decor {
    text-align: center;
    color: black;
    font-weight: 700;
}

.container p {
    padding-bottom: 20px;
}

.flexible-container {
    display: flex;
}

.onethird-width {
    width: 33%;

}

#food {
    background-color: rgb(231, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 10px;
}

#shelter {
    background-color: rgb(245, 221, 225);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#education {
    background-color: rgb(246, 246, 234);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 40px;
    border-radius: 10px;
}

.flexible-container img {
    padding-top: 40px;

}